.hide {
    display: none;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
}

body {
    background: #fafafa;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.login_center{
    position: relative;
    vertical-align: middle;
}
.page-content{
    padding: 5px;
    font-size: 16px;
}
.page-content #login_center{
    padding: 15px;
    margin-top: 150px;
    border: 2px solid whitesmoke;
}
.page-content .register_section{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid whitesmoke;
    width: 400px;
    height: 640px;
    margin-top: 45px;
}
.page-content #edit_todo{
    padding: 15px;
    margin-top: 150px;
    border: 2px solid whitesmoke;
}
.page-content #add_todo{
    padding: 15px;
    margin-top: 150px;
    border: 2px solid whitesmoke;
    width: 350px;
}

.signup_btn_div{
    margin-top: 15px;
}

.logout_button {
    float: right;
    clear: both;
}

.name_display {
    font-size: 1.4em;
}

h3 {
    margin-top: 5px;
}
.btn_transparent{
    background: transparent;
    border:0;
    padding:0;
    width: 40px;
}

form.delete_todo_form{
    margin: 0;
}
form.edit_todo_form{
    margin: 0;
}
form.change_status{
    margin: 0;
}
i.material-icons.marg4{
    margin-right: 0;
    margin-left: 6px;
}
button.btn_transparent.del{
  margin-right: 5px;
    border-left: 2px solid lightgray;
    line-height: 70%;
}
div.left.check {
  margin-left: 5px;
  margin-right: 5px;
}
div.right.edit {
  margin-left: 5px;
  margin-right: 5px;
}
div.collapsible-header{
    padding-left: 0;
    padding-right: 0;
}
div.todo_pagecontent{
    width: 470px;
}
button.del:focus {
    outline: none;
    background-color: #fff;
    color: #f44336;
}
button.del:hover{
    color: #f44336;
}
button.edit:focus {
    outline: none;
    background-color: #fff;
    color: #2962ff ;
}
button.edit:hover{
    color: #2962ff;
}
button.check.pending{
    color: #f44336;
}
button.check.pending:hover{
    color: limegreen ;
}
button.check.completed{
    color: limegreen;
}
button.check.completed:hover{
    color: #f44336 ;
}
/*div.collapsible-body{
    padding: 10px;!important;
}*/
div h2 {
    margin-top: 0;
    margin-bottom: 10px;
}