.hide {
    display: none;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
}

body {
    background: #fafafa;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.login_center{
    position: relative;
    vertical-align: middle;
}
.page-content{
    padding: 5px;
    font-size: 16px;
}
.page-content #login_center{
    padding: 15px;
    margin-top: 150px;
    border: 2px solid whitesmoke;
}
.page-content .register_section{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid whitesmoke;
    width: 400px;
    height: 640px;
    margin-top: 45px;
}

.signup_btn_div{
    margin-top: 15px;
}

.logout_button {
    float: right;
    clear: both;
}

.name_display {
    font-size: 1.4em;
}

h3 {
    margin-top: 5px;
}

div h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}